@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
#login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-height: 100vh;
  margin-top: 0%;
}

#login .form{
  background-color: #f1f1f1;
  width: 100%;
  max-width: 480px;
  padding: 0.5rem;
  margin-top: 1%;
}

#login .field{
  padding-bottom: 0.5rem;
}

#login .title{
  margin-top: 10%;
}

#login .field label{
  display: block;
}


#login .field input{
  width: 100%;
}


#login .actions {
  text-align: center;
  margin-top: 0.5rem;
}

#login .cadastro {
  text-align: center;
  margin-top: 0.5rem;
}

#login .msgErro {
  text-align: center;
  color: red;
}

a:link {
  color: black;
  
}
a:visited {
  color: black;
}