@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
#login{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-height: 100vh;
  margin-top: 0%;
}

#login .form{
  width: 100%;
  max-width: 480px;
  padding: 0.5rem;
  margin-top: 1%;
}

#login .field{
  padding-bottom: 0.5rem;
}

#login .title{
  margin-top: 24px;
  margin-bottom: 4%;
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: bold;
}

#login .field label{
  display: block;
  font-family: 'Roboto';
  font-size: 18px;
  margin: 10px;
  color: #000000;
}


#login .field input{
  width: 100%;
  height: 40px;
  padding: 10px;
  font-family: 'Roboto';
  color: #000000;
  margin-left: 10px;
  background-color: #D9D9D9;
  border: none;
  border-radius: 8px;
}


#login .actions {
  text-align: center;
  margin-top: 0.5rem;
}

#login .cadastro {
  text-align: center;
  margin-top: 0.5rem;
  
}

#login .msgErro {
  text-align: center;
  color: red;
  font-family: 'Roboto';
  font-weight: bold;
}

#btnEntrar button {
  background-color: #005C6E;
  color: #FFFFFF;
  width: 300px;
  height: 40px;
  font-family: 'Roboto';
  border: none;
  border-radius: 8px;
  text-transform: uppercase;
  margin-bottom: 26px;
}



a:link {
  color: black;
  font-size: 16px;
  text-decoration: none;
  font-family: 'Roboto';
}
